New Analysis

In [3]:
import pandas as pd
import pandasql as psql

# Load the CSV dataset into a pandas DataFrame
df = pd.read_csv('athlete_events.csv')

# Define a function to execute SQL queries using pandasql
def execute_query(query):
    return psql.sqldf(query, globals())

# Run SQL queries using the defined function

table = execute_query("SELECT * FROM df")

Age analysis

In [4]:
query_avg_male_age = "SELECT AVG(Age) AS AvgMaleAge FROM df WHERE Sex = 'M';"
query_avg_female_age = "SELECT AVG(Age) AS AvgFemaleAge FROM df WHERE Sex = 'F';"
query_age_distribution = "SELECT Sex, AVG(Age) AS AvgAge, MIN(Age) AS MinAge, MAX(Age) AS MaxAge FROM df GROUP BY Sex;"

In [5]:
avg_male_age = execute_query(query_avg_male_age)
avg_female_age = execute_query(query_avg_female_age)
age_distribution = execute_query(query_age_distribution)

In [6]:
# Print the results
print("Average Male Age:")
print(avg_male_age)

print("\nAverage Female Age:")
print(avg_female_age)

print("\nAge Distribution by Gender:")
print(age_distribution)

Average Male Age:
   AvgMaleAge
0   26.277562

Average Female Age:
   AvgFemaleAge
0     23.732881

Age Distribution by Gender:
  Sex     AvgAge  MinAge  MaxAge
0   F  23.732881    11.0    74.0
1   M  26.277562    10.0    97.0

Noc analysis

In [7]:
query_num_of_medals_for_each_country = " Select noc, count(medal) as num_of_medals from df where medal is not null group by noc order by count(medal) desc"

In [8]:
num_of_medals_for_each_country= execute_query(query_num_of_medals_for_each_country)

In [9]:
num_of_medals_for_each_country

     NOC  num_of_medals
0    USA           5637
1    URS           2503
2    GER           2165
3    GBR           2068
4    FRA           1777
..   ...            ...
144  CYP              1
145  BOT              1
146  BER              1
147  BAR              1
148  AHO              1

[149 rows x 2 columns]

Trend over time

In [17]:
time_query = """SELECT Year,
       COUNT(DISTINCT ID) AS AthleteCount,
       COUNT(DISTINCT Event) AS EventCount,
       COUNT(Medal) AS MedalCount
FROM df
Where medal is not null
GROUP BY Year
ORDER BY Year;
"""

In [18]:
trend_over_time= execute_query(time_query)

PandaSQLException: (sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT Year,
       COUNT(DISTINCT ID) AS AthleteCount,
       COUNT(DISTINCT Event) AS EventCount,
       COUNT(Medal) AS MedalCount
Where medal is not null
FROM df
GROUP BY Year
ORDER BY Year;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
trend_over_time